body {
	font-family: sans-serif;
}

h1 {
	font-size: 1.2em;
}

#controlBar {
	font-size: 1em;
	padding: 4px;
	
}

.foo {
	font-size: 1.5em;
}

.foo {
	color: #ff0000;
}

#container {
	border: 0px solid #000;
	margin-top: 25px;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}

#envelope {
	float: left;
}

#filter {

}

#oscillators {
	float: left;
}

#waveBanks {
	position: relative;
	font-size: .7em;
	border: 1px solid #333;
	width: 150px;
	text-align: center;
	top: -10px;
	left: 10px;
}

#waveBanks tr {
}

#waveBanks td {
}

#lfo {

}

#shareUrl {
	font-size: .7em;
}

.ui-dialog-titlebar {
	font-size: .7em !important;
}


input.controlButton {
	font-size: .7em;
	font-weight: bold;
}

.ui-button-text {
	font-size: .7em;
}

.knobGroup {
	border: 0px solid #000;
	margin-right: 5%;
}

.knobGroup h3 {
	font-size: .9em;
}

.knobLabelPair {
	width: 110px;
	float: left;
}

.knobLabelPairStacked {
	width: 105px;
}

.knobLabelPairWide {
	border: 0px solid #000;
	width: 120px;
	float: left;
}

.knobGroup h2 {
	padding: 3px;
	background: #000;
	color: #eee;
	font-size: 1em;
}

.clear {
	clear: both;
	height: 1px;
}

